venv/
data/
.idea/
runs
pizza_steak_sushi
pizza_steak_sushi_20_percent
/models/08_pretrained_vit_feature_extractor_pizza_steak_sushi.pth
.gradio/certificate.pem
demos/foodvision_mini.zip
demos/foodvision_mini/09_pretrained_effnetb2_feature_extractor_pizza_steak_sushi_20_percent.pth
demos/foodvision_mini/app.py
demos/foodvision_mini/model.py
demos/foodvision_mini/requirements.txt
demos/foodvision_mini/examples/592799.jpg
demos/foodvision_mini/examples/2582289.jpg
demos/foodvision_mini/examples/3622237.jpg
models/09_pretrained_vit_feature_extractor_pizza_steak_sushi_20_percent.pth
demos/foodvision_big.zip
demos/foodvision_big/09_pretrained_effnetb2_feature_extractor_food101_20_percent.pth
demos/foodvision_big/app.py
demos/foodvision_big/class_names.txt
demos/foodvision_big/model.py
demos/foodvision_big/requirements.txt
demos/foodvision_big/examples/04-pizza-dad.jpg
